
body {
background-image: url('./Background.jpg');
background-repeat: no-repeat;
background-size: 2500px 1019px;
background-color: black;
font-family: "Roboto", sans-serif;
color:white;
overflow-x: hidden;
}
.containers{
display: inline;
position: relative;
left:1710px;
}
.logo{
display: inline-block;
}
#btn1{
background-color: red;
border-radius: 5px;
border: 10px solid red;
margin: 20px;
}
#btn2{
    background:none;
    border-radius: 5px;
    border: 2px solid white;
    margin: 30px; 
    padding: 5px;
}
#btn22{
    background:none;
    border-radius: 5px;
    border: 2px solid rgb(177, 174, 174);
    margin: 30px; 
    padding: 5px;
    position: absolute;
    top:7550px;
    left: 500px;
}
#t1{
    margin-left: -30px;
font-size: 80px;
}

.c{
padding-top: 1000px;
font-size: 27px;
}
#box{
width: 70%;
height: 54px;
background-color: aliceblue;
font-size: 25px;
}
#bigbtn{
width:20%;
padding: 10px;
background-color: red;
border: 2px solid red;
border-radius: 5px;
}
.unique{
    font-size: 30px;
}
hr.class-1 {
    border-top: 15px solid #8c8b8b;
}
#id{
    position: absolute;
    top: 1340px;
    left: 1360px;
    width: 770px;
    height: 400px;
    z-index: -1;
}
#id2{
    position: absolute;
    top: 3500px;
    left: 1500px;
    z-index: -1;
    
}
.property{
    background-color:rgba(128, 128, 128, 0.628) ;
    opacity: 0.5;
    font-size: 40px;
    margin: 0px 0px 0px 140px;
    width: 80%;
    padding:30px 30px 0px 40px;
    
}

#image{
    margin-left: 1400px;
    margin-bottom: 20px;
}
#image2{
    margin-left: 1700px;
    margin-bottom: 20px;
}
.colorchange{
    color: #FFFFFFB3;
}